.entrys {
    display: flex;
}

.entry {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: solid black 2px;
    border-radius: 5%;
    margin: 1em;
}

img {
    width: 200px;
    height: 300px;
    object-fit: cover;
}

button {
    padding: 3px 6px;
    background-color: white;
    cursor: pointer;
}

.delete {
    border: 1px solid rgb(245, 191, 191);
    color: rgb(242, 100, 100);
}

.update {
    border: 1px solid rgb(204, 204, 243);
    color: rgb(139, 139, 234);
}