.demo-layout-waterfall
  .mdl-layout__header-row
  .mdl-navigation__link:last-of-type {
  padding-right: 0;
}

.searchField {
  margin: 15px;
}

.loginButton {
  margin: 15px;
}
.signupButton {
  margin: 15px;
}

.mainArea {
}

.mainGrid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 5%;
}
